    @{
        ViewData["Title"] = "Login Page";
    }
    <form asp-controller="Login" asp-action="Login" method="post">
    <div class="contentLogin container-fluid">
        <div class="container containerForm backgroundLogin">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img class="imgLogin" src="/image/Login.png" alt="Ảnh mẫu" />
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row loginForm">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <h1>Gimme Store</h1>
                            <p class="pAccount">Tài khoản</p>
                            <input name="username" type="text"
                                   placeholder="Nhập tên đăng nhập" />
                            <p class="pAccount">Mật khẩu</p>
                            <input name="password" type="password" 
                                   placeholder="Nhập mật khẩu" />
                            <button class="btnSubmit">Đăng nhập</button>
                            <p class="createAccount">
                                Bạn đã có tài khoản chưa? <a asp-action="Register" asp-controller="Login">Đăng ký</a>
                            </p>
                            <p class="createAccount">
                                <a asp-controller="Login" asp-action="Forgot">Quên mật khẩu?</a>
                            </p>
                            <a class="forgotPassword" asp-action="" asp-controller="Login"></a>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>