@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-lg-3"></div>
    <div class="row rowFormAddress col-lg-6">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
<form class="formAddress" asp-action="Index" asp-controller="ChangeInformation">
    <h1>Thông tin cá nhân</h1>
    <!-- == -->
    <p>Tên tài khoản</p>
    <input class="ipAddress" name="username" type="text" value="@TempData["UserUsername"]" readonly>
    <p>Mật khẩu</p>
    <input class="ipAddress" name="password" type="text" value="@TempData["UserPassword"]">
    <p>Địa chỉ</p>
    <input class="ipAddress" name="address" type="text" value="@TempData["UserAddress"]">
    <!-- == -->
    <p>Gmail</p>
    <input class="ipAddress" name="gmail" type="text" value="@TempData["UserGmail"]">

    <div class="addressBtn">
        <button class="btnAddress">Xác nhận</button>
    </div>
</form>
        </div>
        <div class="col-lg-2"></div>

    </div>
    <div class="col-lg-3"></div>
</div>